<%= include ../template/version-header.ejs %>

<div id="version-list">
	<% for(var i = 0; i < versions.length; i++){ %>
		<span class="version">
			<a href="/document/<%= document_id %>/<%= versions[i].version_id %>">
				<%= new Date(versions[i].version_id) %>
			</a>
		</span>
		<br />
	<% } %>
</div>

<%= include ../template/footer.ejs %>