<%= include ../template/document-header.ejs %>

<div id="document">
	<input id="document-title" class="document-title" type="text" placeholder="Title" value="<%= title %>"/>
	<div>
		<textarea id="document-body" class="document-body" placeholder="Start typing into your document"><%= body %></textarea>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script>var _socketConnection = io.connect('http://localhost:3000');</script> -->
<script src="/socket.io/socket.io.js"></script>
<script>var _socketConnection = io.connect('/');</script>

<script>
	$('#document-title').keyup(function() {

		var title = $('#document-title').val();

		_socketConnection.emit('title_event_from_client', {
			'document_id' : '<%= document_id %>',
			'title' : title
		});

	});

	_socketConnection.on('title_event_from_server', function(data) {
		$('#document-title').val(data.title);
	});

	$('#document-body').keyup(function() {

		var body = $('#document-body').val();

		_socketConnection.emit('body_event_from_client', {
			'document_id' : '<%= document_id %>',
			'body' : body
		});

	});

	_socketConnection.on('body_event_from_server', function(data) {
		$('#document-body').html(data.body);

	});

</script>

<%= include ../template/footer.ejs %>