<%= include ../template/document-header.ejs %>


<div id="document">
	<input id="document-title" class="document-title" type="text" placeholder="Title" value="<%= title %>"/>
	<div class="yui-skin-sam">
		<textarea id="document-body"><%= body %></textarea>
	</div>
</div>

<!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
<!-- <script>var _socketConnection = io.connect('http://localhost:3000');</script> -->
<script src="/socket.io/socket.io.js"></script>
<script>var _socketConnection = io.connect('/');</script>

<script>

	$('#document-title').keyup(function() {

		var title = $('#document-title').val();

		_socketConnection.emit('title_event_from_client', {
			'document_id' : '<%= document_id %>',
			'title' : title
		});

	});

	_socketConnection.on('title_event_from_server', function(data) {
		$('#document-title').val(data.title);
	});

	var myEditor = new YAHOO.widget.SimpleEditor('document-body', {
	    height: '600px',
	    width: '100%'
	});
	
	myEditor.on('editorKeyUp', function() {
		
		var body = myEditor.getEditorHTML();

		_socketConnection.emit('body_event_from_client', {
			'document_id' : '<%= document_id %>',
			'body' : body
		});
		
	}, myEditor, true);
	
	myEditor.render();

	_socketConnection.on('body_event_from_server', function(data) {
		myEditor.setEditorHTML(data.body);
	});

</script>

<%= include ../template/footer.ejs %>